*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
google-services.json
*.jks
*.keystore
*.p12
*.pfx
*.pkcs12
*.apk
*.aab
/Untitled

# Firebase CLI
firebase-debug.log
firebase-debug.*.log

# Python
*.pyc
